header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color .5s ease;
  z-index: 1000;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height .5s ease;
}

.nav a {
  text-decoration: none;
  color: #222222;
  font-size: 1.6rem;
}

.nav .logo {
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-left: 4rem;
}

.nav-link {
  margin: 0 2rem;
  position: relative;
}


/*Apply styles after scroll*/
.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav {
  height: 6.6rem;
}

.scrolling-active .nav a {
  color: #313131;
}

.scrolling-active #nav-cta {
  background-color: #313131;
  color: #fff;
}

.scrolling-active #nav-cta:hover {
  background-color: #151515;
}

.scrolling-active .nav-link::after {
  background-color: #313131;
}

/*Apply styles after scroll end*/


/* Hero Demo Content*/
.hero {
  /* width: 100%;
    height: 100vh;
    background: url("../assets/mountain-large.jpg") center no-repeat; */

  top: -227.9068603515625px;
  left: 852px;
  width: 1183px;
  height: 1192px;
  transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  background: transparent url("../assets/circle.png") 0% 0% no-repeat padding-box;
  opacity: 0.5;



  background-size: cover;
  position: relative;
}

.hero::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}


.float-right {
  float: right;
  margin-top: 63px;
  margin-right: 132px;
}

.get-started-btn-align {
  margin-top: -12px;
  box-shadow: 0px 0px 20px #00000033;
  border-radius: 24px;
  opacity: 1;
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  color: white;
  width: 166px;
  height: 45px;
}

.get-started-btn-align:hover {
  background-color: white;
  color: #663399;
}

.login-btn-align {
  margin-top: -12px;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
  width: 118px;
  height: 45px;
  margin-left: 50px;
  margin-right: 20px;
}

.login-btn-align:hover {
  color: white;
  background-color: #663399;
}



.open-logo {
  /* background: url("../assets/logo.png") center no-repeat; */
  margin-top: 27px;
  margin-left: 120px;
  width: 123px;
  height: 123px;
}

.hero-left {
  top: 213px;
  left: -179px;
  width: 571px;
  height: 572px;
  background: transparent url('../assets/blob-small.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.circle-align {
  width: 1006px;
  position: absolute;
  top: -33%;
  left: 44%;
}

.blob-small-align {
  margin-top: 56%;
  margin-left: -22%;
  width: 392px;
  height: 419px;
}

.line {
  width: 236px;
  height: 8px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
}

.hero-text-align {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  top: 36%;
  position: absolute;
  left: 9%;
}

.collect-img-vedio {
    width: 506px;
    height: 249px;
    position: absolute;
    top: 56%;
    left: 8%;
}

.accounting-dot-left-align {
    width: 366px;
    height: 56px;
    position: absolute;
    top: 84%;
    left: 21%;
}

.accounting-dot-right-align {
  width: 459px;
  height: 68px;
  position: absolute;
  top: 92%;
  right: 0%;
}

.disbursement-align {
  position: absolute;
  top: 102%;
  left: 10%;
}

.top-section-align {
  display: flex;
}

.demo-content {
  width: 100%;
  height: 140vh;
}

.wave-align {
  position: absolute;
  top: 110%;
}

.interest-align {
  position: absolute;
  top: 140%;
  left: 10%;
}

.paperwork-align {
  position: absolute;
  top: 179%;
  left: 10%;
}

.business-align {
  position: absolute;
  top: 118%;
  left: 40%;
}

.loans-align {
  position: absolute;
  top: 156%;
  left: 40%;
}



.business-text-align {
  display: inline-block;
  font-size: 40px;
  top: 127%;
  position: absolute;
  left: 70%;
}

.open-account {
  width: 279px;
  height: 58px;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
}

.open-account:hover {
  background-color: #663399;
  color: white;
}

.loan-txt {
  width: 382px;
  height: 44px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
}
